<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0EB5038A2B30A15B00DCA828</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EB503A02B30A15E00DCA828</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ECB83322B32046E00970D06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
